/* MessageCenter */
.layout-dropdown {
  top: 70px !important;
}

.layout-dropdown-widht {
  width: 340px;
}

.layout-tabs-center {
  :global {
    .ant-tabs-nav-wrap {
      justify-content: center;
    }

    :where(.css-dev-only-do-not-override-15a82oi).ant-list-bordered {
      border: 0;
    }

    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav {
      margin: 0;
    }
  }
}

.layout-tabs-padding {
  padding: 0 8px 16px;
}

.layout-tabs-btn-left {
  border-bottom: 0;
  border-left: 0;
  padding: 22px 15px;
  line-height: 3px;
}

.layout-tabs-btn-Right {
  border-bottom: 0;
  border-right: 0;
  padding: 22px 15px;
  line-height: 3px;
}

.layout-tabs-list {
  :global {
    .ant-list-bordered {
      border: 0;
    }

    .ant-list-item {
      cursor: pointer;
    }

    .ant-list-item:hover {
      background-color: rgb(176, 201, 211);
    }
  }
}
