/* MessageCenter */

.layout-tabs-center {
  :global {
    .ant-tabs-nav-wrap {
      justify-content: center;
    }

    .ant-list-bordered {
      width: 300px;
      border: 0;
    }

    .ant-tabs-top > .ant-tabs-nav,
    .ant-tabs-bottom > .ant-tabs-nav,
    .ant-tabs-top > div > .ant-tabs-nav,
    .ant-tabs-bottom > div > .ant-tabs-nav {
      margin: 0;
    }
  }
}
