/* ant组件 */

/* Descriptions 组件样式修改 */
.ant-descriptions-row > th,
.ant-descriptions-row > td {
  padding-bottom: 4px;
}

.ant-descriptions-header {
  margin-bottom: 10px;
}

/* 表单 */
.ant-row .ant-form-item {
  margin-bottom: 18px;
}

/* 实现滚动自动加载列表 */
/* stylelint-disable-next-line selector-class-pattern */
.infinite-scroll-component__outerdiv {
  .infinite-scroll-component {
    overflow: hidden !important;
  }
}

/* BackTop回到顶部 */
.site-back-top-basic {
  color: rgba(64, 64, 64, 60%);
}

/* descriptions组件样式 */
.ant-descriptions-item-label {
  font-style: normal;
  font-weight: 700;
  color: #333;
}

.ant-descriptions-item-content {
  font-style: normal;
  font-weight: 400;
  color: #666;
}
