// ant组件
// Descriptions 组件样式修改
.ant-descriptions-row > th,
.ant-descriptions-row > td {
	padding-bottom: 4px;
}

.ant-descriptions-header {
	margin-bottom: 10px;
}

// 表单
.ant-row .ant-form-item {
	margin-bottom: 18px;
}

// 实现滚动自动加载列表
.infinite-scroll-component__outerdiv{
	.infinite-scroll-component {
		overflow: hidden !important;
	}
}
