/** 样式全局配置 */

::-webkit-scrollbar {
  /* 高宽分别对应横竖滚动条的尺寸 */
  width: 8px;

  /* 滚动条整体样式 */
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #03022933;

  /* 滚动条里面小方块 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03022966;
}
