/* 修改antd组件样式 */

/*  @import url('./antd-ui.scss'); */


/* 内外边距 */

/* @import url('./marginAndPadding.scss');  */


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* hover 75,171,252 */
.hove-blue:hover {
  color: rgb(75, 171, 252);
}

::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 8px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #03022933;

  /* 滚动条里面小方块 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03022966;
}

