.login {
  height: 100vh;
  background: linear-gradient(-45deg, #d38e79, #c9668c, #5fb7d7, #89dfcb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  /* background-image: url('../../assets/svg/login.svg'); */
}

/* 15 */
.LogonBtn {
  z-index: 1;
  background: #b621fe;
  border: none;
}

.LogonBtn::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  background-color: #663dff;
  border-radius: 2px;
  content: '';
  /* stylelint-disable-next-line max-line-length */
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 50%), 7px 7px 20px 0 rgba(0, 0, 0, 10%), 4px 4px 5px 0 rgba(0, 0, 0, 10%);
  transition: all .3s ease;
}

.LogonBtn:hover {
  color: #fff;
}

.LogonBtn:hover::after {
  left: 0;
  width: 100%;
}

.LogonBtn:active {
  top: 2px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* 弹框动画 */
.loginAnimate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: animate 2s ease infinite;
  animation-iteration-count: 1;
}
@keyframes animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
